* {
    margin: 0;
    padding: 0;

}
body{
    background-color: aqua;
    font-family: Arial;
}
.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background:rgb(0, 195, 255);
}
header{
    background-color:rgb(0, 195, 255)
}
nav{
    background-color:rgb(43, 159, 226);
    margin: 20px;
    }
    .main {
        width: 70%;
        padding: 20px;
        float: left;
        box-sizing: border-box;
    }
    .main img {
        width: 100%;
        height: auto;
    }
    section{
        background-color:rgb(178, 255, 127)
        
        box-sizing:border-box;
        
        }
    aside {
        width: 30%;
        padding: 20px;
        box-sizing:border-box;
        float: left;
    }
        
    

footer{
    background-color: cornflowerblue;
    clear: both;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px; 
}

@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}
@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
       .entry, .entry-content
       {
 	      font-size:1.2em;
	      line-height:1.5em;

	}
 }
