* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	line-height: 1;
}

p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.333333334;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	text-align: justify;
}

.three-columns {
	margin: 20px;
	margin: 2rem;
}
}
body{
    background-color: aqua;
    font-family: Arial;
  
.contenedor {
    /*width: 80%;*/
   /* max-width: 1000px;*/
   /* margin: 0 auto;*/
    /*background:rgb(0, 195, 255);*/
    width:100%;
    margin-right:auto;
    margin-left:auto;
    float: left;
 .contenedor img{
     width:100%;
}
}
header{
    background-color:rgb(0, 195, 255)
}
nav{
    background-color:rgb(43, 159, 226);
    margin: 20px;
    }
    .main {
        width: 70%;
        padding: 20px;
        float: left;
        box-sizing: border-box;
    }
    .main img {
        width: 100%;
        height: auto;
    }
    section{
        background-color:rgb(178, 255, 127)
     
        box-sizing:border-box;
        
        }
    aside {
        width: 30%;
        padding: 20px;
        box-sizing:border-box;
        float: left;
    }
        
    

footer{
    background-color: cornflowerblue;
    clear: both;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px; 
}
/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}
/*Escritorio*/
@media (min-width: 1199.98px)  {
    body{background:rgb(178, 255, 127 ;}
}
@media all and (min-width:768px) {
    float: left;
    margin-right:10%;
    width: 20%;
}
@media all and (min-width: 1280px) {
    float: left;
    margin-right: 2%;
    width: 30%;
   
}

