* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	line-height: 1;
}

p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.333333334;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	text-align: justify;
}

.three-columns {
	margin: 20px;
	margin: 2rem;
}
}
body{
    background-color: aqua;
    font-family: Arial;
    img {
         width: 100%;
    }
  
.contenedor {
    /*width: 80%;*/
   /* max-width: 1000px;*/
   /* margin: 0 auto;*/
    /*background:rgb(0, 195, 255);*/
    width:100%;
    margin-right:auto;
    margin-left:auto;
    float: left;
 .contenedor img{
     width:auto;
}
}
header{
    background-color:rgb(0, 195, 255)
}
nav{
    
    background-color:rgb(43, 159, 226);
    margin: 20px;
    }
    .main {
        width: 70%;
        padding: 20px;
        float: left;
        box-sizing: border-box;
    }
    .main img {
        width: 100%;
        height: auto;
    }
    section{
        background-color:rgb(178, 255, 127)
     
        box-sizing:border-box;
        
        }
    aside {
        width: 30%;
        padding: 20px;
        box-sizing:border-box;
        float: left;
    }
        
    

footer{
    background-color: cornflowerblue;
    clear: both;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px; 
}

}
@media screen and (min-width: 768px) and
    (max-width: 1023px){
        float:left
        margin-right:10%;
        width: 20%;
    }
@media screen and (max-width:767px){
            width: 767px;
        } 
@media screen and (min-width: 321px) and (max-width: 719px) { 
            width:320px;
        }

@media screen and (max-width:720px) {
    width: 720px;
        }  
@media all and (orientation: landscape) {
            /* CSS code for output in landscape mode */
            }
/* Diseño para celulares */
#columna1, #columna2, #columna3 {
	float:none;
	width:100%;
@media screen and (min-width:400px) {
	#columna1
}

/* Diseño para tabletas */ 
@media screen and (min-width: 768px) {
	#columna1, #columna2 {
		float:left;
		width:50%;
	}
}
/* Diseño para PC */ 
@media screen and (min-width: 1025px) {
	#columna1, #columna2, #columna3 {
	float:left;
	width:33%;
}
